<%= form_for [@category, @question] do |f| %>

    <%= f.hidden_field :category_id, :value => @question.category.id%>

    <div class="form-group">
       <%= f.label :question %>
       <%= f.text_field :question, class: "form-control", placeholder: "Question.. " %>
    </div>

    <div class="form-group">
       <%= f.label :answer %>
       <%= f.text_field :answer, class: "form-control", placeholder: "Answer... "   %>
    </div>



    <%= f.submit  %>

<% end %>
