<header>
	<h1><%= @category.name %></h1>
</header>

<% if flash[:notice] %>
	<div id="container">
		<div id="success">
    	<%= flash[:notice] %>
	  </div>
	</div>
<% end %>


<h3 class="button"><%= link_to 'Home', root_path %></h3>
<h3 class="button"><%= link_to 'Add a question!', new_category_question_path(@category.id) %></h3>


<%= render @questions %>
