<header>
	<h1>The Interview</h1>
</header>
<div class="wrapper">
	<div class="button"><%= link_to 'Add subject', new_category_path %></div>

		<% if !user_signed_in? %>
			<div class="button"><%= link_to 'Log In', new_user_session_path %></div>
		<% else %>
			<div class="button"><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></div>
			<div class="button"><%= current_user.email %></div>
		<% end %>
	</div>
</div>

<div class="icon">SUBJECTS
	  <ul class="menu">

	<%= render @categories %>

	</ul>
	</div>
</div>
